apiVersion: batch/v1
kind: Job
metadata:
  name: init-db
  namespace: vetoki
spec:
  template:
    metadata:
      name:  init-db
      labels:
        app: init-postgresdb
    spec:
      containers:
      - image: "postgres:latest"
        name: init-db
        command: [ "psql", "$(DATABASE_URL)", "-f /create-db-table.sql" ]
        volumeMounts:
        - name: sqlcommand
          mountPath: /
        env:
          - name: DATABASE_URL
            valueFrom:
              secretKeyRef:
                name: assignment1
                key: DATABASE_URL
      volumes:
        - name: sqlcommand
          configMap:
            name: assignment1-configmap
      restartPolicy: OnFailure